<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android = "http://schemas.android.com/apk/res/android"
          package = "android.com.smshelper" >

	<uses-permission android:name = "android.permission.RECEIVE_SMS" />
	<uses-permission android:name = "android.permission.WRITE_SMS" />
	<!--读短信权限-->
	<uses-permission android:name = "android.permission.READ_SMS" />
	<!--读联系人权限-->
	<uses-permission android:name = "android.permission.READ_CONTACTS" />
	<!--写文件权限-->
	<uses-permission android:name = "android.permission.WRITE_EXTERNAL_STORAGE" />
	<!--读文件权限-->
	<uses-permission android:name = "android.permission.READ_EXTERNAL_STORAGE" />

	<application
			android:name = ".AppInstance"
			android:allowBackup = "true"
			android:icon = "@drawable/ic_launcher"
			android:label = "@string/app_name"
			android:theme = "@style/AppTheme" >
		<include />
		<activity
				android:name = ".activity.ActivityMain"
				android:label = "@string/app_name"
				android:launchMode = "singleTask" >
			<intent-filter >
				<action android:name = "android.intent.action.MAIN" />

				<category android:name = "android.intent.category.LAUNCHER" />
			</intent-filter >
		</activity >
		<!--BlackList-->
		<activity
				android:name = ".activity.ActivityBlackList"
				android:windowSoftInputMode = "adjustNothing" >
			<intent-filter >
				<action android:name = "android.intent.action.SMS_BLACKLIST" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >
		<!--WhiteList-->
		<activity
				android:name = ".activity.ActivityWhiteList"
				android:windowSoftInputMode = "adjustNothing" >
			<intent-filter >
				<action android:name = "android.intent.action.SMS_WHITELIST" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >
		<!--从通话记录添加-->
		<activity android:name = ".activity.ActivityCallLogs" >
			<intent-filter >
				<action android:name = "android.intent.action.SMS_CALLLOGS" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >
		<!--手工输入添加-->
		<activity android:name = ".activity.ActivityManualInput" >
			<intent-filter >
				<action android:name = "android.intent.action.MANUALINPUT" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >
		<!--联系人添加-->
		<activity android:name = ".activity.ActivityContacts" >
			<intent-filter >
				<action android:name = "annroid.intent.action.CONTACTS" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >
		<!--短信记录添加-->
		<activity android:name = ".activity.ActivitySMS" >
			<intent-filter >
				<action android:name = "android.intent.action.SMS" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >
		<!--关键词管理-->
		<activity android:name = ".activity.ActivityKeywords" >
			<intent-filter >
				<action android:name = "android.intent.action.KEY_WORDS" />
				<category android:name = "android.intent.category.default" />
			</intent-filter >
		</activity >
		<!--短信详情-->
		<activity android:name = ".activity.ActivitySpamDetail" >
			<intent-filter >
				<action android:name = "android.intent.action.SPAMDETAIL" />
				<category android:name = "android.intent.category.DEFAULT" />
			</intent-filter >
		</activity >

		<receiver android:name = ".reciever.SmsReciever" >
			<intent-filter android:priority = "1000" >
				<action android:name = "android.provider.Telephony.SMS_RECEIVED" />
			</intent-filter >
		</receiver >

	</application >

</manifest >
